.container{
  background-color: white;
  height: 400px;
  width: 477px;
  margin: 0 auto;
  margin-top: 135px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(215 215 215 / 35%);
  padding: 0 88px;
  padding-top: 15px;
}
.container > .iptWraper{
  margin-top: 35px;
}
.container > .iptWraper > .iptInfo{
  font-size: 14px;
  color: #8C8C8C;
  margin-bottom: 5px;
}
.container > .iptWraper > div > .ipt{
  display: block;
  width: 100%;
  height: 36px;
  line-height: 1em;
  text-indent: 1em;
  border: 1px solid rgb(91, 130, 248);
  border-radius: 5px;
  color: rgb(215 215 215);
  outline: none;
  cursor: pointer;
}
.container > .loginBtn{
  background-color: rgba(61, 136, 247, 1);
  width: 140px;
  height: 36px;
  border-radius: 5px;
  margin: 47px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container > .loginBtn > div {
  font-size: 13px;
  color: white;
}
.container > .loginBtn:hover{
  background-color: rgb(5, 162, 214);
}
.container > .toRegister{
  width: 87%;
  margin: 0 auto;
  color: #8C8C8C;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}
.container > .toRegister > span{
  color: #169BD5;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}